$colorTextPink: #F16D7F;
$backgroundBlack: #222;
$widthContent: 1140px;
$colorSelectSite: #F16D7F;
$widthSite: 1140px;
$widthContentThird: 360px;
$widthBurgerMenu: 232px;
$backgroundBlock: #222;
$colorText: #000;
$gapGrid: 30px;
$gridItem: calc(($widthSite - 2 * $gapGrid) / 3)