.box-main {
  overflow: hidden;
}

.top-head {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.top-head-Title {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.breadcrumbs {
  display: flex;
  gap: 5px;
}

.breadcrumbsLink {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.breadcrumbsLinkActive {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.productPictureWrap {
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
}

.productDescriptionWrap {
  margin-top: -40px;
  margin-bottom: 130px;
  padding: 65px 295px;
  border: 1px solid #EAEAEA;
  position: relative;
  background-color: #FFF;
}
.productDescriptionWrap-pretitle {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 12px;
}
.productDescriptionWrap-title {
  margin-top: 12px;
  margin-bottom: 48px;
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.productDescriptionWrap-text {
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 32px;
}
.productDescriptionWrap-price {
  color: #EF5B70;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 65px;
}
.productDescriptionWrap-productMenu {
  margin-top: 65px;
  margin-bottom: 48px;
  display: flex;
  gap: 23px;
}
.productDescriptionWrap-productMenuLink {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 9px;
}
.productDescriptionWrap-productAddtoCart {
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #FF6A6A;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  gap: 23px;
  transition: all 0.5s;
}
.productDescriptionWrap-productAddtoCart:hover {
  color: #FFF;
  background-color: #FF6A6A;
}
.productDescriptionWrap-productAddtoCart path {
  transition: all 0.5s;
}
.productDescriptionWrap-productAddtoCart:hover path {
  fill: #FFF;
}

.product-box-catalog {
  padding-bottom: 128px;
}
.product-box-catalog-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}
.product-box-catalog-item {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "Lato", sans-serif;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-left {
  display: flex;
  align-items: flex-end;
  gap: 42px;
}

#burgercheck {
  visibility: hidden;
  position: absolute;
  left: -999999px;
}
#burgercheck:checked ~ .nav-burger {
  right: 0;
}

.box-main {
  overflow: hidden;
}

.nav-burger {
  width: 232px;
  background-color: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 32px;
  height: 735.7px;
  box-sizing: border-box;
  position: absolute;
  right: -232px;
  top: 81.2px;
  transition: right 0.5s;
  z-index: 10;
}
.nav-burger-title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.nav-burger-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-burger-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.nav-burger-item-title {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-burger-item-link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 22px;
}
.nav-burger-item-link:hover {
  color: #F16D7F;
}

.top-head {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-head-Title {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.breadcrumbsLink {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.breadcrumbsLinkActive {
  color: #F16D7F;
  font-weight: 700;
}

.filter-sort {
  height: 132px;
  padding-top: 37px;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 360px;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter-content {
  background-color: #FFF;
  padding: 0px 16px 16px 16px;
}
.filter[open] {
  background-color: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter-heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter-summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter-heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter-item {
  margin-top: 16px;
}
.filter-item[open] .filter-item-heading {
  color: #F16D7F;
}
.filter-item-heading {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #EBEBEB;
  box-sizing: border-box;
}
.filter-linkBox {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px 8px;
}
.filter-item-link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter-item-link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 13px;
  display: flex;
  gap: 28px;
}
.sort-details {
  position: relative;
}
.sort-summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.sort-heading {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort-box {
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 10;
}
.sort-check {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #6F6E6E;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 188px;
}

.product-item {
  width: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product-item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.product-item:hover .product-item-img {
  filter: brightness(40%);
}
.product-item:hover .product-item-add-wrap {
  display: flex;
}
.product-item-cartLink {
  display: flex;
  flex-direction: column;
}
.product-item-img {
  width: 100%;
}
.product-item-content {
  background-color: #f8f8f8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-item-name {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-item-text {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product-item-price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-item-add-wrap {
  display: none;
  justify-content: center;
  position: absolute;
  top: 188px;
  width: 100%;
  pointer-events: none;
}
.product-item-add {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #ffffff;
  pointer-events: all;
  transition: color 0.3s;
}
.product-item-add:hover {
  color: #f16d7f;
  box-shadow: 0px 0px 8px 0px #fff;
}

.cart {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.cart-left-item {
  margin-bottom: 40px;
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart-item-info {
  padding: 22px 97px 62px 31px;
  box-sizing: border-box;
  width: 390px;
}
.cart-item-title {
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 42px;
  width: 211px;
}
.cart-item-discription {
  color: #575757;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}
.cart-item-discription-span-q {
  margin-left: 24px;
  padding: 0 16px;
  border: 1px solid black;
}
.cart-item-discription-span-p {
  color: #F16D7F;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart-left-buttons-wrap {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
.cart-left-button {
  display: block;
  padding: 16px 40px;
  border: 1px solid #A4A4A4;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart-left-button:hover {
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  font-weight: 400;
}
.cart-ship {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 57px;
  margin-top: 13px;
}
.cart-ship-title {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart-ship-input {
  color: #222;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  width: 100%;
  box-sizing: border-box;
}
.cart-ship-input:first-of-type::-moz-placeholder {
  color: #B1B1B1;
}
.cart-ship-input:first-of-type::placeholder {
  color: #B1B1B1;
}
.cart-ship-input::-moz-placeholder {
  color: #222;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart-ship-input::placeholder {
  color: #222;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart-ship-link {
  margin-top: 13px;
  display: block;
  padding: 10px 14px;
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #A4A4A4;
}
.cart-ship-link:hover {
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  font-weight: 400;
}
.cart-checkout {
  padding: 39px 42px 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #F5F3F3;
}
.cart-total-wrap {
  display: flex;
  gap: 24px;
  margin-bottom: 12px;
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart-total-wrap:nth-of-type(2) {
  margin-bottom: 21px;
}
.cart-grandtotal-text,
.cart .cart-grandtotal-price {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart-grandtotal-price {
  color: #F16D7F !important;
  font-weight: 700 !important;
}
.cart-checkout-link {
  margin-top: 17px;
  padding: 15px 42px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #F16D7F;
  transition: all 0.3s;
}
.cart-checkout-link:hover {
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  font-weight: 500;
}

.copyRightContainer, .subscribeContainer, .top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productDescriptionWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  position: relative;
  overflow: hidden;
}

.header {
  box-sizing: border-box;
  min-height: 75px;
  background: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: flex-end;
  gap: 41px;
}

.header__leftSearchLink path {
  fill: #E8E8E8;
  transition: all 0.3s;
}

.header__leftSearchLink:hover path {
  fill: #F16D7F;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.header__link-site path {
  fill: #FFF;
  transition: all 0.3s;
}

.header__link-site:hover path {
  fill: #F16D7F;
}

.burgercheckLabel path {
  fill: #FFF;
  transition: all 0.3s;
}

.burgercheckLabel:hover path {
  fill: #F16D7F;
}

.promo {
  display: flex;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__img {
  width: 50%;
}

.promo__info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 290px;
}

.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__headingSpan {
  color: #F16D7F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.promo__content {
  padding-left: 64px;
}

.sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__item {
  position: relative;
}

.sale__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale__item_big {
  min-height: 180px;
  grid-column: 1/-1;
}

.sale__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product-box-main {
  padding-bottom: 95px;
}

.product-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.product-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.product-box__content {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product:hover .product__img {
  filter: brightness(0.5);
}

.product:hover .product__add {
  display: flex;
}

.product__img {
  width: 100%;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}

.product__add:hover {
  box-shadow: 0 0 5px #fff;
}

.product__add:hover svg path {
  fill: #F16D7F;
}

.product__content {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.advantages {
  background-color: #222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.advantages__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.advantages__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.head {
  min-height: 148px;
  background: #F8F3F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.button {
  width: 212px;
  height: 48px;
  display: flex;
  border: 1px solid #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  justify-content: center;
  align-items: center;
  gap: 22px;
  transition: all 1s;
}

.button:hover {
  transform: rotate(1720deg);
  color: #fff;
  background-color: #F16D7F;
}

.button:hover path {
  fill: white;
}

.slider {
  height: 777px;
  position: relative;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__arrow {
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 365px;
}

.slider__arrow:hover path {
  fill: #F16D7F;
}

.slider__arrow_left {
  left: 0;
}

.slider__arrow_right {
  right: 0;
}

.content {
  background-color: #fff;
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1140px;
  margin: -65px auto 0;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browseAll {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.browseAllProd {
  color: #F26376;
  font-family: "Lato";
  border: 2px solid #F26376;
  padding: 1rem 2rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s;
}

.browseAllProd:hover {
  background-color: #F26376;
  color: #FFF;
}

.subscribeContainer {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/subscribe.jpg");
  background-position: center;
  background-size: cover;
}

.subscribeInfo {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.subInfoText {
  width: 320px;
  text-align: center;
  color: #222224;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.subscribeWrap {
  width: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.subWrapTitle {
  text-align: center;
  color: #222224;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.subWrapTitleSpan {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.subFormMail {
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  float: left;
  background-color: #E1E1E1;
  height: 40px;
  width: 256px;
  color: #222224;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.subWrapFormBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  background-color: #F16D7F;
  height: 40px;
  width: 100px;
  color: #FFF;
  text-align: center;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: background-color 0.3s;
}

.subWrapFormBtn:hover {
  background-color: #E05C6E;
}

.copyRightWrap {
  background-color: #222;
}

.copyRightContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyrightText {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.copyRightIconsWrap {
  display: flex;
  gap: 8px;
}

.iconsItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FFF;
  transition: all 0.5s;
}

.iconsItem:hover {
  background-color: #F16D7F;
}

.iconsItem path {
  fill: black;
  transition: fill 0.5s;
}

.iconsItem:hover path {
  fill: #FFF;
}

.iconItemLink {
  padding: 6px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .promo {
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .promo__content {
    padding-left: 0;
  }
  .promo__info {
    margin-top: 0;
  }
  .promo__title {
    font-size: 44px;
    line-height: normal;
  }
  .promo__heading,
  .promo__headingSpan {
    font-size: 24px;
    line-height: normal;
  }
  .sale {
    gap: 20px;
    padding-bottom: 110px;
  }
  .sale__item_big {
    min-height: auto;
  }
  .product-box {
    padding-bottom: 65px;
  }
  .product-box__content {
    gap: 15px;
    margin-top: 73px;
  }
  .browseAll {
    margin-top: 32px;
  }
  .advantages {
    padding-top: 48px;
    padding-bottom: 64px;
    gap: 48px;
  }
  .subscribeContainer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    position: relative;
    background: none;
    z-index: 1;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .subscribeContainer::before {
    content: "";
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../img/footerbackgroundTablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .subInfoText {
    margin-bottom: 28px;
  }
  .subscribeWrap {
    gap: 27px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .header__link-site {
    display: none;
  }
  .promo__img {
    display: none;
  }
  .promo__content {
    padding-top: 148px;
    padding-bottom: 148px;
  }
  .promo__title {
    font-size: 38px;
    line-height: normal;
  }
  .promo__heading,
  .promo__headingSpan {
    font-size: 20px;
    line-height: normal;
  }
  .sale {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding-bottom: 64px;
  }
  .sale__item_big img {
    display: none;
  }
  .sale__item_big {
    min-height: 110px;
    position: relative;
    z-index: 1;
    background: url("img/itemBigMobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .sale__item_big::after {
    content: "";
    opacity: 0.7;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(33, 22, 22, 0.7);
  }
  .product-box {
    padding-bottom: 96px;
  }
  .product-box__content {
    margin-top: 65px;
  }
  .browseAll {
    margin-top: 40px;
  }
  .advantages {
    padding-bottom: 81px;
  }
  .subscribeContainer {
    gap: 60px;
    padding-bottom: 110px;
  }
  .subInfoText {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .subscribeWrap {
    gap: 22px;
  }
  .subWrapTitle {
    line-height: 153.2%;
  }
  .subWrapTitleSpan {
    line-height: 153.2%;
    font-size: 14px;
  }
  .copyRightContainer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 10px;
  }
  .copyRightIconsWrap {
    order: 1;
  }
  .copyrightItem {
    order: 2;
  }
}
@media (max-width: 360px) {
  .product-box__content {
    grid-template-columns: repeat(auto-fit, 310px);
  }
  .subFormMail {
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */