@import 'catalog';
@import 'catalogPage';
@import 'cart';
@import 'vars';
@import 'mixins';


%flexSb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - $widthContent / 2);
    padding-right: calc(50% - $widthContent / 2);
}

.top {
    position: relative;
    overflow: hidden;
}

.header {
    box-sizing: border-box;
    min-height: 75px;
    background: $backgroundBlack;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end;
    gap: 41px;
}

.header__leftSearchLink path {
    fill: #E8E8E8;
    transition: all 0.3s;
}

.header__leftSearchLink:hover path {
    fill: $colorTextPink;
}

.header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 33px;
}

.header__link-site path {
    fill: #FFF;
    transition: all 0.3s;
}

.header__link-site:hover path {
    fill: $colorTextPink;
}

.burgercheckLabel path {
    fill: #FFF;
    transition: all 0.3s;
}

.burgercheckLabel:hover path {
    fill: $colorSelectSite;
}

.promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo__img {
    width: 50%;
}

.promo__info {
    border-left: 12px solid $colorTextPink;
    padding-left: 16px;
    margin-top: 290px;
}

.promo__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.promo__headingSpan {
    color: $colorTextPink;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.promo__content {
    padding-left: 64px;
}

.sale {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale__item {
    position: relative;
}

.sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sale__item_big {
    min-height: 180px;
    grid-column: 1 / -1;
}

.sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $colorTextPink;
}

.product-box-main {
    padding-bottom: 95px;
}

.product-box__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}

.product-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
}

.product-box__content {
    margin-top: 48px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (360px)[auto-fit];
    grid-template-columns: repeat(auto-fit, 360px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
}

.product:hover .product__img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.product:hover .product__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product__img {
    width: 100%;
}

.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
}

.product__add:hover {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.product__add:hover svg path {
    fill: $colorTextPink;
}

.product__content {
    background: #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.product__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorTextPink;
}

.advantages {
    background-color: $backgroundBlack;
    padding-top: 104px;
    padding-bottom: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.advantages__item {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
}

.advantages__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.advantages__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.head {
    min-height: 148px;
    background: #F8F3F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.head__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorTextPink;
}

.button {
    width: 212px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #F16D7F;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 22px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.button:hover {
    -webkit-transform: rotate(1720deg);
    transform: rotate(1720deg);
    color: #fff;
    background-color: #F16D7F;
}

.button:hover path {
    fill: white;
}

.slider {
    height: 777px;
    position: relative;
    background: #F7F7F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider__arrow {
    background: rgba(42, 42, 42, 0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 47px;
    height: 47px;
    position: absolute;
    top: 365px;
}

.slider__arrow:hover path {
    fill: #F16D7F;
}

.slider__arrow_left {
    left: 0;
}

.slider__arrow_right {
    right: 0;
}

.content {
    background-color: #fff;
    border: 1px solid #EAEAEA;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1140px;
    margin: -65px auto 0;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.browseAll {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.browseAllProd {
    color: #F26376;
    font-family: "Lato";
    border: 2px solid #F26376;
    padding: 1rem 2rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s;
}

.browseAllProd:hover {
    background-color: #F26376;
    color: #FFF;
}

.subscribeContainer {
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../img/subscribe.jpg');
    background-position: center;
    background-size: cover;
    @extend %flexSb;
}

.subscribeInfo {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.subInfoText {
    width: 320px;
    text-align: center;
    color: #222224;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}

.subscribeWrap {
    width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.subWrapTitle {
    text-align: center;
    color: #222224;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.subWrapTitleSpan {
    color: #222224;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.subFormMail {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    background-color: #E1E1E1;
    height: 40px;
    width: 256px;
    color: #222224;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.subWrapFormBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: #F16D7F;
    height: 40px;
    width: 100px;
    color: #FFF;
    text-align: center;
    font-family: "Lato";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: background-color 0.3s;
}

.subWrapFormBtn:hover {
    background-color: #E05C6E;
}

.copyRightWrap {
    background-color: $backgroundBlack;
}

.copyRightContainer {
    @extend %flexSb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyrightText {
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.copyRightIconsWrap {
    display: flex;
    gap: 8px;
}

.iconsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #FFF;
    transition: all 0.5s;
}

.iconsItem:hover {
    background-color: #F16D7F;
}

.iconsItem path {
    fill: black;
    transition: fill 0.5s;
}

.iconsItem:hover path {
    fill: #FFF;
}

.iconItemLink {
    padding: 6px;
}

@media(max-width: 1024px) {

    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .promo {
        gap: 40px;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .promo__content {
        padding-left: 0;
    }

    .promo__info {
        margin-top: 0;
    }

    .promo__title {
        font-size: 44px;
        line-height: normal;
    }

    .promo__heading,
    .promo__headingSpan {
        font-size: 24px;
        line-height: normal;
    }

    .sale {
        gap: 20px;
        padding-bottom: 110px;
    }

    .sale__item_big {
        min-height: auto;
    }

    .product-box {
        padding-bottom: 65px;
    }

    .product-box__content {
        gap: 15px;
        margin-top: 73px;
    }

    .browseAll {
        margin-top: 32px;
    }

    .advantages {
        padding-top: 48px;
        padding-bottom: 64px;
        gap: 48px;
    }

    .subscribeContainer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 48px;
        position: relative;
        background: none;
        z-index: 1;
        padding-top: 64px;
        padding-bottom: 140px;
    }

    .subscribeContainer::before {
        content: "";
        opacity: 0.5;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url('../img/footerbackgroundTablet.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .subInfoText {
        margin-bottom: 28px;
    }

    .subscribeWrap {
        gap: 27px;
    }
}

@media(max-width:767px) {
    .center {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .header__link-site {
        display: none;
    }

    .promo__img {
        display: none;
    }

    .promo__content {
        padding-top: 148px;
        padding-bottom: 148px;
    }

    .promo__title {
        font-size: 38px;
        line-height: normal;
    }

    .promo__heading,
    .promo__headingSpan {
        font-size: 20px;
        line-height: normal;
    }

    .sale {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        padding-bottom: 64px;
    }

    .sale__item_big img {
        display: none;
    }

    .sale__item_big {
        min-height: 110px;
        position: relative;
        z-index: 1;
        background: url("img/itemBigMobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .sale__item_big::after {
        content: "";
        opacity: 0.7;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(33, 22, 22, 0.70);
    }

    .product-box {
        padding-bottom: 96px;
    }

    .product-box__content {
        margin-top: 65px;
    }

    .browseAll {
        margin-top: 40px;
    }

    .advantages {
        padding-bottom: 81px;
    }

    .subscribeContainer {
        gap: 60px;
        padding-bottom: 110px;
    }

    .subInfoText {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .subscribeWrap {
        gap: 22px;
    }

    .subWrapTitle {
        line-height: 153.2%;
    }

    .subWrapTitleSpan {
        line-height: 153.2%;
        font-size: 14px;
    }

    .copyRightContainer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding-top: 43px;
        padding-bottom: 10px;
    }

    .copyRightIconsWrap {
        order: 1;
    }

    .copyrightItem {
        order: 2;
    }

}

@media(max-width:360px) {
    .product-box__content {
        grid-template-columns: repeat(auto-fit, 310px);
    }

    .subFormMail {
        width: auto;
    }
}